body{
    background-color: orange;
    text-align: center;
}
.broccoli{
    background-color: green;
    display: block;
    width: 10em;
    height: auto;
    margin-left: 18em;
    margin-bottom: 25px;
    padding-left: 10px;
}
.calzone{
    background-color: tan;
    display: block;
    width: 4em;
    height: auto;
    margin-left: 21.5em;
    margin-bottom: 25px;
}
.mushroom{
    background-color: grey;
}
.broccoli,
.calzone,
.mushroom{
font-weight: bolder;
font-size: 40px;
}
li{
    list-style-type: none;
}